<!-- templates/admin_polls.html -->

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Управление Голосованиями</title>
</head>
<body>
    <h1>Управление Голосованиями</h1>
    <ul>
        {% for poll in polls %}
            <li>
                ID: {{ poll.id }}, Статус: {{ poll.status }}, Начало: {{ poll.start_date }}, Окончание: {{ poll.end_date }}
                <a href="{{ url_for('admin_poll_detail', poll_id=poll.id) }}">Подробнее</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
