<!-- templates/admin_users.html -->

{% extends "base.html" %}

{% block head_meta %}
<!-- Мета-тег viewport отключён на странице Управления пользователями -->
{% endblock %}

{% block content %}

<h1>Управление пользователями</h1>

<h2>Админ Панель</h2>

<form action="{{ url_for('best_setup_voting.start_best_setup_contest') }}" method="post" class="nes-container is-rounded" style="margin-bottom: 1em;">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <button type="submit" class="nes-btn is-primary"><i class="fas fa-flag"></i> Запустить Голосование за Лучший Сетап (раз в месяц)</button>
</form>


<!-- Кнопка для включения/отключения голосования -->
<form action="{{ url_for('toggle_voting') }}" method="post" style="margin-bottom: 20px;">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <button type="submit" class="nes-btn is-warning">
        {% if voting_config and voting_config.value == 'true' %}
            Отключить Голосование
        {% else %}
            Включить Голосование
        {% endif %}
    </button>
</form>

<table class="nes-table is-bordered is-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя пользователя</th>
            <th>Telegram ID</th>
            <th>Премиум</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username or 'Не указан' }}</td>
            <td>{{ user.telegram_id }}</td>
            <td>{{ 'Да' if user.assistant_premium else 'Нет' }}</td>
            <td>
                <form action="{{ url_for('toggle_premium', user_id=user.id) }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <button type="submit" class="nes-btn is-primary">
                        {{ 'Отключить' if user.assistant_premium else 'Включить' }} премиум
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
