<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Trend Share</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Подключение jQuery UI для Datepicker -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <!-- Подключение внешнего скрипта -->
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <!-- Подключение Telegram WebApp API -->
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>Trend Share</h1>
            <nav>
                {% if 'user_id' in session %}
                    <a href="{{ url_for('index') }}">Главная</a>
                    <a href="{{ url_for('new_trade') }}">Добавить Сделку</a>
                    <a href="{{ url_for('manage_setups') }}">Управление Сетапами</a>
                    <a href="{{ url_for('logout') }}">Выйти</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Войти через Telegram</a>
                {% endif %}
            </nav>
        </header>

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            &copy; {{ datetime.utcnow().year }} Trend Share
        </footer>
    </div>
</body>
</html>
