<!-- templates/deposit.html -->

{% extends "base.html" %}

{% block content %}
<div class="nes-container with-title">
    <p class="title">Депозит</p>
    
    {% if unique_wallet_address %}
        <p>Отправьте ETH, WETH или UJO на ваш уникальный кошелёк:</p>
        <div class="wallet-info">
            <p><strong>Адрес кошелька:</strong> <span id="uniqueWalletAddress">{{ unique_wallet_address }}</span></p>
            <!-- Добавление QR-кода для удобства -->
            <img src="https://api.qrserver.com/v1/create-qr-code/?data={{ unique_wallet_address }}&amp;size=200x200" alt="QR Code для кошелька">
        </div>
        
        <hr>
        <h3>Статус депозита</h3>
        <p>Проверьте баланс после совершения транзакции.</p>
    {% else %}
        <p>Сгенерируйте уникальный кошелёк для депозита:</p>
        <button class="nes-btn is-primary" id="generateUniqueWalletBtn"><i class="fas fa-wallet"></i> Сгенерировать Кошелёк</button>
    {% endif %}
</div>

{% if not unique_wallet_address %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById('generateUniqueWalletBtn').addEventListener('click', async () => {
            try {
                const csrfToken = "{{ csrf_token() }}";
                const response = await fetch('{{ url_for("staking_bp.generate_unique_wallet_route") }}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    }
                });

                const data = await response.json();
                if (data.status === 'success') {
                    alert('Уникальный кошелёк успешно сгенерирован! Ваш адрес: ' + data.unique_wallet_address);
                    window.location.reload();
                } else {
                    alert('Ошибка: ' + data.error);
                }
            } catch (error) {
                console.error('Ошибка при генерации уникального кошелька:', error);
                alert('Произошла ошибка при генерации уникального кошелька.');
            }
        });
    });
</script>
{% endif %}
{% endblock %}
