<!-- templates/deposit.html -->

{% extends "base.html" %}

{% block content %}
<div class="nes-container with-title">
    <p class="title">Депозит</p>
    
    <p>Отправьте ETH, WETH или UJO на ваш уникальный кошелёк:</p>
    <div class="wallet-info">
        <p><strong>Адрес кошелька:</strong> {{ unique_wallet_address }}</p>
        <!-- Добавление QR-кода для удобства -->
        <img src="https://api.qrserver.com/v1/create-qr-code/?data={{ unique_wallet_address }}&amp;size=200x200" alt="QR Code для кошелька">
    </div>
    
    <hr>
    <h3>Статус депозита</h3>
    <p>Проверьте баланс после совершения транзакции.</p>
</div>
{% endblock %}
