<!-- templates/edit_trade.html -->

{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Редактировать Сделку</h2>

    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <label for="instrument">{{ form.instrument.label }}</label><br>
        {{ form.instrument }}<br>

        <label for="direction">{{ form.direction.label }}</label><br>
        {{ form.direction }}<br>

        <label for="entry_price">{{ form.entry_price.label }}</label><br>
        {{ form.entry_price }}<br>

        <label for="exit_price">{{ form.exit_price.label }}</label><br>
        {{ form.exit_price }}<br>

        <label for="trade_open_time">{{ form.trade_open_time.label }}</label><br>
        {{ form.trade_open_time(id='trade_open_time') }}<br>

        <label for="trade_close_time">{{ form.trade_close_time.label }}</label><br>
        {{ form.trade_close_time(id='trade_close_time') }}<br>

        <label for="comment">{{ form.comment.label }}</label><br>
        {{ form.comment }}<br>

        <label for="setup_id">{{ form.setup_id.label }}</label><br>
        {{ form.setup_id }}<br>

        <label for="screenshot">{{ form.screenshot.label }}</label><br>
        {{ form.screenshot }}<br>

        {% if trade.screenshot %}
            <div>
                <label>Текущий скриншот:</label><br>
                <img src="{{ url_for('uploaded_file', filename=trade.screenshot) }}" alt="Trade Screenshot" class="clickable-image" width="200">
            </div>
        {% endif %}

        <br>
        <label>Критерии:</label>
        <div class="criteria-section">
            {% for category in criteria_categories %}
                <div class="category">
                    <button type="button" class="collapse-button">{{ category.name }}</button>
                    <div class="category-content" style="display: none;">
                        {% for subcategory in category.subcategories %}
                            <div class="subcategory">
                                <button type="button" class="collapse-button">{{ subcategory.name }}</button>
                                <div class="subcategory-content" style="display: none;">
                                    {% for criterion in subcategory.criteria %}
                                        <div class="criteria-item">
                                            <label>
                                                {{ criterion.name }}
                                                <input type="checkbox" name="criteria" value="{{ criterion.id }}" {% if criterion.id in form.criteria.data %}checked{% endif %}>
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <br>
        {{ form.submit }}
    </form>

    <!-- Модальное окно для изображений -->
    <div id="modal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modal-img">
    </div>
</div>
{% endblock %}
