<!-- templates/edit_setup.html -->

{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Редактировать Сетап</h2>

    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div>
            {{ form.setup_name.label }}
            {{ form.setup_name(class="nes-input") }}
        </div>

        <div>
            {{ form.description.label }}
            {{ form.description(class="nes-textarea") }}
        </div>

        <div>
            {{ form.screenshot.label }}
            {{ form.screenshot(class="nes-input") }}
        </div>

        {% if setup and setup.screenshot_url %}
            <div>
                <label>Текущее изображение:</label>
                <img src="{{ setup.screenshot_url }}" alt="Setup Screenshot" class="clickable-image setup-mini nes-pointer"><br>
                {{ form.remove_image() }} {{ form.remove_image.label }}
            </div>
        {% endif %}

        <br>
        <label>Критерии:</label>
        <div class="criteria-section">
            {% for category in criteria_categories %}
                <div class="category">
                    <button type="button" class="collapse-button nes-btn custom-warning">
                        {{ category.name }}
                        <span class="toggle-arrow">▶</span>
                    </button>
                    <div class="category-content">
                        {% for subcategory in category.subcategories %}
                            <div class="subcategory">
                                <button type="button" class="collapse-button nes-btn custom-warning">
                                    {{ subcategory.name }}
                                    <span class="toggle-arrow">▶</span>
                                </button>
                                <div class="subcategory-content">
                                    {% for criterion in subcategory.criteria %}
                                        <div class="criteria-item">
                                            <label>
                                                <input type="checkbox" name="criteria" value="{{ criterion.id }}" {% if criterion.id in form.criteria.data %}checked{% endif %}> {{ criterion.name }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <br>
        <div>
            {{ form.submit(class="nes-btn custom-success") }}
        </div>
    </form>
</div>
{% endblock %}
