<!-- templates/login.html -->

{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2></h2>

    <div class="content">
        <h1>Авторизация</h1>
        <div class="info">
            Для доступа к приложению откройте его через Telegram Web App. Если вы открываете приложение вне Telegram, пожалуйста, воспользуйтесь ссылкой в боте.
        </div>
        <a href="https://t.me/TrendShare_bot" class="btn-back nes-btn custom-primary"><i class="fas fa-arrow-left"></i> Открыть в Telegram</a>
    </div>
</div>
{% endblock %}
