<!-- templates/privacy_policy.html -->

{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Политика конфиденциальности</h2>
    <div class="content">
        <p>
            Ваша конфиденциальность очень важна для нас. Мы гарантируем, что все личные данные, которые вы предоставляете, будут защищены. Мы используем ваши данные исключительно для предоставления услуг, которые вы запросили, и не передаем их третьим лицам без вашего разрешения.
        </p>
        <h3>Как мы используем ваши данные:</h3>
        <ul>
            <li>Обработка данных для предоставления наших сервисов.</li>
            <li>Использование данных для улучшения качества сервиса.</li>
            <li>Отправка уведомлений и предложений о новых услугах.</li>
        </ul>
        <h3></h3>
        <p></p>
    </div>
</div>
{% endblock %}
