<!-- templates/view_trade.html -->

{% extends "base.html" %}

{% block head_meta %}
<!-- Мета-тег viewport отключён на странице Another Page -->
{% endblock %}

{% block content %}
<div class="container">
    <h2>{% if language == 'ru' %}Детали Сделки{% else %}Trade Details{% endif %}</h2>

    <p><strong>ID:</strong> {{ trade.id }}</p>
    <p><strong>{% if language == 'ru' %}Инструмент:{% else %}Instrument:{% endif %}</strong> {{ trade.instrument.name }}</p>
    <p><strong>{% if language == 'ru' %}Направление:{% else %}Direction:{% endif %}</strong> {{ trade.direction }}</p>
    <p><strong>{% if language == 'ru' %}Цена входа:{% else %}Entry Price:{% endif %}</strong> {{ trade.entry_price }}</p>
    <p><strong>{% if language == 'ru' %}Цена выхода:{% else %}Exit Price:{% endif %}</strong> {{ trade.exit_price or '-' }}</p>
    <p><strong>{% if language == 'ru' %}Дата открытия:{% else %}Open Date:{% endif %}</strong> {{ trade.trade_open_time.strftime('%Y-%m-%d') }}</p>
    <p><strong>{% if language == 'ru' %}Дата закрытия:{% else %}Close Date:{% endif %}</strong> {{ trade.trade_close_time.strftime('%Y-%m-%d') if trade.trade_close_time else '-' }}</p>
    <p><strong>{% if language == 'ru' %}Прибыль/Убыток:{% else %}P/L:{% endif %}</strong> {{ "%.2f".format(trade.profit_loss) if trade.profit_loss is not none else '-' }}</p>
    <p><strong>{% if language == 'ru' %}% Прибыли/Убытка:{% else %}P/L %:{% endif %}</strong> {% if trade.profit_loss_percentage is not none %}{{ "%.2f%%".format(trade.profit_loss_percentage) }}{% else %}-{% endif %}</p>
    <p><strong>{% if language == 'ru' %}Сетап:{% else %}Setup:{% endif %}</strong>
        {% if trade.setup %}
            <div class="setup-info">
                {% if trade.setup.screenshot_url %}
                    <img src="{{ trade.setup.screenshot_url }}" alt="Setup Screenshot" class="setup-mini clickable-image lazyload nes-pointer">
                {% endif %}
                {{ trade.setup.setup_name }}
            </div>
        {% else %}
            -
        {% endif %}
    </p>
    <p><strong>{% if language == 'ru' %}Комментарий:{% else %}Comment:{% endif %}</strong><br>{{ trade.comment or '-' }}</p>
    <p><strong>{% if language == 'ru' %}Критерии:{% else %}Criteria:{% endif %}</strong>
        {% for criterion in trade.criteria %}
            <span class="criterion">{{ criterion.name }}</span>
        {% endfor %}
    </p>
    <p><strong>{% if language == 'ru' %}Скриншот:{% else %}Screenshot:{% endif %}</strong><br>
        {% if trade.screenshot_url %}
            <img src="{{ trade.screenshot_url }}" alt="Trade Screenshot" class="clickable-image lazyload nes-pointer" style="max-width: 100%; height: auto;">
        {% else %}
            -
        {% endif %}
    </p>

    <a href="{{ url_for('index') }}" class="btn-back nes-btn custom-primary"><i class="fas fa-arrow-left"></i> {% if language == 'ru' %}Вернуться к списку сделок{% else %}Back to Trades List{% endif %}</a>

    <div id="modal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modal-img">
    </div>
</div>
{% endblock %}
