<!-- templates/view_trade.html -->

{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Детали Сделки</h2>

    <p><strong>ID:</strong> {{ trade.id }}</p>
    <p><strong>Инструмент:</strong> {{ trade.instrument.name }}</p>
    <p><strong>Направление:</strong> {{ trade.direction }}</p>
    <p><strong>Цена входа:</strong> {{ trade.entry_price }}</p>
    <p><strong>Цена выхода:</strong> {{ trade.exit_price or '-' }}</p>
    <p><strong>Дата открытия:</strong> {{ trade.trade_open_time.strftime('%Y-%m-%d') }}</p>
    <p><strong>Дата закрытия:</strong> {{ trade.trade_close_time.strftime('%Y-%m-%d') if trade.trade_close_time else '-' }}</p>
    <p><strong>Прибыль/Убыток:</strong> {{ "{:.2f}".format(trade.profit_loss) if trade.profit_loss is not none else '-' }}</p>
    <p><strong>% Прибыли/Убытка:</strong> {{ "{:.2f}%".format(trade.profit_loss_percentage) if trade.profit_loss_percentage is not none else '-' }}</p>
    <p><strong>Сетап:</strong>
        {% if trade.setup %}
            <div class="setup-info">
                {% if trade.setup.screenshot %}
                    <img src="{{ url_for('uploaded_file', filename=trade.setup.screenshot) }}" alt="Setup Screenshot" class="clickable-image" width="100">
                {% endif %}
                {{ trade.setup.setup_name }}
            </div>
        {% else %}
            -
        {% endif %}
    </p>
    <p><strong>Комментарий:</strong><br>{{ trade.comment or '-' }}</p>
    <p><strong>Критерии:</strong>
        {% for criterion in trade.criteria %}
            <span class="criterion">{{ criterion.name }}</span>
        {% endfor %}
    </p>
    <p><strong>Скриншот:</strong><br>
        {% if trade.screenshot %}
            <img src="{{ url_for('uploaded_file', filename=trade.screenshot) }}" alt="Trade Screenshot" class="clickable-image" width="400">
        {% else %}
            -
        {% endif %}
    </p>

    <a href="{{ url_for('index') }}">Вернуться к списку сделок</a>

    <!-- Модальное окно для отображения изображений -->
    <div id="modal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modal-img">
    </div>

    <script>
        $(document).ready(function(){
            // Открытие модального окна при клике на изображение
            $('.clickable-image').on('click', function() {
                $('#modal').css('display', 'block');
                $('#modal-img').attr('src', $(this).attr('src'));
            });

            // Закрытие модального окна
            $('.close').on('click', function() {
                $('#modal').css('display', 'none');
            });

            // Закрытие модального окна при клике вне изображения
            $('#modal').on('click', function(event) {
                if (!$(event.target).is('#modal-img')) {
                    $(this).css('display', 'none');
                }
            });
        });
    </script>
</div>
{% endblock %}
