<!-- templates/view_setup.html -->

{% extends "base.html" %}

{% block head_meta %}
<!-- Мета-тег viewport отключён на странице Another Page -->
{% endblock %}

{% block content %}
<div class="container">
    <h2>Детали Сетапа</h2>

    <p><strong>ID:</strong> {{ setup.id }}</p>
    <p><strong>Название:</strong> {{ setup.setup_name }}</p>
    <p><strong>Описание:</strong><br>{{ setup.description or '-' }}</p>
    <p><strong>Критерии:</strong>
        {% for criterion in setup.criteria %}
            <span class="criterion">{{ criterion.name }}</span>
        {% endfor %}
    </p>
    <p><strong>Скриншот:</strong><br>
        {% if setup.screenshot_url %}
            <img src="{{ setup.screenshot_url }}" alt="Setup Screenshot" class="clickable-image lazyload nes-pointer" style="max-width: 100%; height: auto;">
        {% else %}
            -
        {% endif %}
    </p>

    <a href="{{ url_for('manage_setups') }}" class="btn-back nes-btn custom-primary"><i class="fas fa-arrow-left"></i> Вернуться к списку сетапов</a>

    <!-- Модальное окно для отображения изображений -->
    <div id="modal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modal-img">
    </div>
</div>
{% endblock %}
