<!-- templates/vote.html -->

{% extends "base.html" %}

{% block content %}
<h1>Участвовать в Голосовании</h1>

<div class="nes-container is-rounded">
    <h2>О голосовании</h2>
    <p>Голосование проводится для прогнозирования цен на различные инструменты. Участвуя в голосовании, вы помогаете определить наиболее точные предсказания пользователей и получаете возможность выиграть премиум-доступ к дополнительным функциям.</p>
    <p><strong>Начало голосования:</strong> {{ active_poll.start_date.strftime('%Y-%m-%d %H:%M UTC') if active_poll else 'N/A' }}</p>
    <p><strong>Завершение голосования:</strong> {{ active_poll.end_date.strftime('%Y-%m-%d %H:%M UTC') if active_poll else 'N/A' }}</p>
</div>

<br>

<!-- Отображение сообщений -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="nes-container is-rounded is-{{ category }}">
        <p>{{ message }}</p>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<!-- Отображение существующего предсказания -->
{% if existing_prediction %}
    <div class="nes-container is-rounded is-primary">
        <h2>Ваше Предсказание</h2>
        <ul>
            <li>
                <strong>Инструмент:</strong> {{ existing_prediction.instrument.name }}<br>
                <strong>Предсказанная цена:</strong> {{ existing_prediction.predicted_price }}<br>
                {% if existing_prediction.real_price %}
                    <strong>Реальная цена:</strong> {{ existing_prediction.real_price }}<br>
                    <strong>Отклонение:</strong> {{ existing_prediction.deviation }}%
                {% else %}
                    <strong>Реальная цена:</strong> Еще не определена.<br>
                    <strong>Отклонение:</strong> Еще не рассчитано.
                {% endif %}
            </li>
        </ul>
        <p>Спасибо за участие в голосовании!</p>
    </div>
{% endif %}

{% if not existing_prediction %}
    <!-- Форма голосования -->
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="nes-field">
            {{ form.instrument.label }}<br>
            {{ form.instrument(class="nes-select") }}
            {% for error in form.instrument.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="nes-field">
            {{ form.predicted_price.label }}<br>
            {{ form.predicted_price(class="nes-input", placeholder="Введите ожидаемую цену") }}
            {% for error in form.predicted_price.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="nes-field">
            {{ form.submit(class="nes-btn is-primary") }}
        </div>
    </form>
{% endif %}

{% endblock %}
