<!-- templates/webapp.html -->
<!DOCTYPE html>
<html lang="{% if language == 'ru' %}ru{% else %}en{% endif %}">
<head>
    <meta charset="UTF-8">
    <title>{% if language == 'ru' %}Telegram Web App{% else %}Telegram Web App{% endif %}</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <style>
        #loading {
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div id="loading">
        <h1>{% if language == 'ru' %}Авторизация...{% else %}Authorization...{% endif %}</h1>
    </div>

    <script>
        const tg = window.Telegram.WebApp;

        function redirectToMainApp() {
            window.location.href = '/';
        }

        function showError(message) {
            document.getElementById('loading').innerHTML = `<h1>{% if language == 'ru' %}Ошибка: {% else %}Error: {% endif %}${message}</h1>`;
        }

        if (tg) {
            const initData = tg.initData || tg.initDataUnsafe || '';
            console.log('initData:', initData);
            if (initData === '') {
                console.log('initData пустое, вызываем tg.ready()');
                tg.ready();
            } else {
                fetch('/init', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        initData: initData
                    }),
                    credentials: 'include'
                })
                .then(response => {
                    console.log('Получен ответ от сервера:', response);
                    return response.json();
                })
                .then(data => {
                    console.log('Данные от сервера:', data);
                    if(data.status === 'success') {
                        console.log('Авторизация успешна');
                        redirectToMainApp();
                    } else {
                        console.error('Ошибка авторизации:', data.message);
                        showError(data.message || '{% if language == "ru" %}Неизвестная ошибка при авторизации.{% else %}Unknown authorization error.{% endif %}');
                    }
                })
                .catch(error => {
                    console.error('Ошибка при отправке initData:', error);
                    showError('{% if language == "ru" %}Произошла ошибка при авторизации.{% else %}An error occurred during authorization.{% endif %}');
                });
            }
        } else {
            console.log('Telegram WebApp не найден, не инициируем авторизацию.');
            showError('{% if language == "ru" %}Telegram WebApp не обнаружен. Пожалуйста, используйте Telegram для доступа к приложению.{% else %}Telegram WebApp not found. Please use Telegram to access the application.{% endif %}');
        }
    </script>
</body>
</html>
